.list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    
}

.item {
    width: 40rem;
    align-self: flex-end;
    background-color: rgba(0, 0, 0, 0.646);
    padding-left: 1rem;
    padding-right: 1rem;
}