@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.containerproj {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

.projone {
    width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projtwo {
    width: 80rem;
    /* margin-top: 5rem; */
    /* padding-left: 5rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    width: 60rem;
    padding-top: 2rem;
}

.examples {
    display: flex;
    flex-direction: column;
}

.imgsecond {
    width: 15rem;
    padding-left: 0.5rem;
}

.imgsecondcontainer {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-left: 1rem;
}

.header {
    font-size: 1.5rem;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
}

.text {
    /* padding-left: 2rem; */
    text-align: center;
}

@media (max-width: 1000px) {
    .containerproj {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }
}