@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&family=Julius+Sans+One&display=swap');

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}